
html {
  background-color: #FDFEFE;
}
p{
	font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  	
}
h2,h4{
  font-size: 35px;
  text-align: center;
}
body {
  margin: 0 auto;
  background-color: #FDFEFE;
  padding: 0 150px 100px 120px;
}
img {
  display: block;
  margin: 0 auto;
  width: 50%;
}
form{
  background-color: #FDFEFE;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  margin: 0 auto;
  text-align: left;
}
footer{
  background-color: #FDFEFE;
}
header{
  background-color: #FDFEFE;
}
.sectioncontents{
  column-count: 2;
  column-gap: 80px;
  column-fill: auto;
}